* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    list-style-type: none;
}

body {
    max-width: 1440px;
}

h1, h2 {
    font-family: Anton;
}


p {
    font-family: Manrope;
}

/* CSS HEADER */



header {
    width: 100%;
    height: 600px;
    position: relative;
    /* background-image: url(../assets/images/lespetitsplats.jpg); */
    
    /* object-fit: cover; */
    
    z-index: 2;
  
}

.background_img {
    object-fit: cover;
    position: absolute;
}

/* .background_img {
    position:absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;    
    z-index: 1;
} */

.logo_container {
    width: 100%;
    position: relative;
    z-index: 5;
}



.header_container {
    display: flex;
    flex-direction: column;    
    position: absolute;
    width: 100%;
    z-index: 0;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

h1 {
    text-align: center;
    color: #FFD15B;
    z-index: 5;
    background-color: transparent;
    margin-top: 200px;
    margin-bottom: 20px;
}

input {
    
    height: 60px;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.searchbar {
    width: 800px;
    position: relative;
    border-radius: 10px;
}

.searchBtn {
    position: absolute;
    right: 7px;
    top: 7px;
    height: 46px;
    width: 46px;
    z-index: 10;
    color: white;
    background-color: #1B1B1B;
    border-radius: 10px;
}

.searchBtn:hover {
    background-color: #FFD15B;
    color: black;
    border: 1px solid #FFD15B; 
}

.searchBtn i {
    background-color: #1B1B1B;
    color: white;
    height: 40px;
    width: 40px;
    padding-top: 12px;
}

.searchBtn i:hover {
    background-color: #FFD15B;
    color: black;
}

.searchBtn i::before {
    display: inline-block;
    width: 40px;
    height: 40px;
}



/* MAIN */

main {
    width: 100%;
    position: relative;
}

.recipeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}



/* DROPDOWN */

.dropdown-container {
    display: flex;
    margin-top: 20px;
}

.dropdown {
    padding: 10px;
    border-radius: 10px;
    margin-right: 50px;
}

.dropdown:focus {
    outline: solid green;
}

.dropdown-toggle {
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}


.dropdown-toggle p, .dropdown-toggle i {
    background-color: white;
    font-weight: bold;

}



.dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5 10px;
    margin-top: -5px;
    list-style: none;
    
    z-index: 2;
}

.dropdown-menu li {
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li:hover {
    font-weight: bold;
    background-color: #FFD15B;
    border-radius: 0px;
}

.dropdown-menu li:nth-child(n+8) {
    display: none; /* limit the size of the list*/
}

/* Chevrons rotation*/
.fa-chevron-down {
    transition: transform 0.2s ease;
}

.rotate180 {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: none;
}

.show {
    display: block;
}

/* Search input */

.dropdown-search-container {
    width: 180px;
    height: 40px;
    
    z-index: 4;
    position: relative;
}

.dropdown-search-container i {
    position: absolute;
    right: 10px;
    top: 10px;
    color:#7a7a7a;
    background-color: white;
}

.dropdown-search {
    background-color: white;
    border-radius: 0;
    border: 1px gray solid;
    width: 180px;
    height: 40px;
    
    
}


/* RECIPE COUNTER */

.recipeCounter_container {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 200px;
    height: 50px;
    z-index: 5;
    
}

.recipeCountDisplay {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: Anton;
    font-size: 24px;
}


/* SEARCH TAGS*/

.search-tags {
    width: 100%;
    padding: 60px;
}

.tag {
    background-color: #FFD15B;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    margin: 15px;
    
}

.tag > * {
    display: inline-flex; /* Align child elements in a row */
    align-items: center; 

}

.tags {
    margin-bottom: 20px;
}

.tag span {
    font-size: 16px;
}

.tag b, .remove-btn {
    background-color: #FFD15B;
}

.tag b {
    font-weight: lighter;
    padding-right: 15px;
    padding-left: 5px;
}

.remove-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.remove-btn i {
    display: block;
    background-color: #FFD15B;
    color: black;
    width: 100%; 
    height: 100%; 
    margin-top: 3px;
}


/* CARD */


.card, .card-content, .card-title, h3, .card-text, ul, li {
    background-color: white;
}

.card {
    width: 380px;
    height: 850px;
    
    border-radius: 15px;
    position: relative;    
}

.card-content {
    
    padding-left: 20px;
    padding-right: 20px;
    
}

.card-time {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: Manrope;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color: #FFD15B;
}


.card img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #7a7a7a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-text {    
    font-family: Manrope;
    color:#1B1B1B;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit the text to four lines */
    overflow: hidden; /* Hide overflow text */
    
}



.ingredient-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.ingredient {
    /* width: calc(50% - 5px); Two ingredients per row */
    width: 170px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
}

.ingredient-details, .ingredient-name {
    background-color: white;
}


.ingredient-details {
    margin-top: 5px;
    color: #7a7a7a;
}
